<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
    	<ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'articles:list' %}">Статьи</a></li>
            <li><a href="{% url 'about' %}">О блоге</a></li>
        </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
        <h1>Добро пожаловать, {{ who }}!</h1>
    {% endblock %}
</div>
</body>
</html>